
:root{
    --primary-color: #ffffff;
    --secondary-color: #0000ff;
    --secondary-color-1: #3333fd;
    --teritiary-color: #000000;
    --teritiary-color-1: #444444;
    --gradient-color: linear-gradient(45deg, rgb(251, 251, 251) 0%, rgba(193, 193, 193, 0.697) 90%);
  }

@media screen and (max-width:600px) {

    h1{
        font-size: 2rem;
        padding-top: 5rem;
    }

    h2{
        font-size: 1.8rem;
    }

    section{
        margin: 0px 0px;
        padding: 2rem 2rem;
        width: 75vw;
        height: fit-content;
        justify-content: center;
        align-content: start;
    }

    .section-container{
        height: fit-content;
        flex-direction: column;
        justify-content: start;
    }

    .services-section{
        width: 80vw;
        flex-direction: column;
    }

    #page-2 .image-section{
        margin-left: -7rem;
      }
    
    .box-container{
        margin-bottom: 2rem;
    }

    #page-4 .image-section{
        margin-left: 0;
        background-image: none;
        border-radius: 0px 0px 0px 0px;
        overflow: visible;
      }
      
      #page-4 img{
        margin-top: 0rem;
        margin-left: 0rem;
        margin-bottom: 0rem;
        padding-bottom: 3rem;
        height: auto;
        width: fit-content;
      }

    #page-5 .text-section{
        flex-direction: column;
      }

    .contact-container{
        flex-direction: column;
        margin: 0rem 0px;
    }

    #page-5 .email-container a{
        width: fit-content;
        padding-top: 3rem;
        padding-bottom: 5rem;
        font-size: 1.1rem;
      }

    footer p{
        margin-top: 3rem;
    }
}